
# {{name}}
[![Mega-Linter](https://github.com/{{github}}/actions/workflows/linter.yml/badge.svg)](https://github.com/marketplace/actions/mega-linter)
[![panvimdoc](https://github.com/{{github}}/actions/workflows/panvimdoc.yml/badge.svg)](https://github.com/kdheepak/panvimdoc)


## Motivation of the plugin

# Installation
```lua
-- Lazy.nvim
{
  "{{github}}",
  dependencies = {
  },
}
```

# Demo

# TODO

# Advanced Setup
```lua
-- Lazy.nvim
{
  "{{github}}",
  opts = {
  }
}
```

More detailed [configuration](lua/{{name}}/conf.lua) are listed here.
You can find my latest and preferred configuration [here](TODO) as an example.


# Development

Welcome to contribute to this project.

You can test the plugin in UI with minimal config with
- `vim -u tests/init_conf/lazy.lua -U NONE -N -i NONE` for [lazy.nvim](https://github.com/folke/lazy.nvim)

If you prefer to run tests without a user interface, you can execute `make test` to initiate the test suite.

# Related Projects
