local M = {}


function M.setup_main_keymaps()
end


function M.setup()
  M.setup_main_keymaps()
  -- TODO: if `which-key` is installed
  local ok, which_key = pcall(require, "which-key")
  -- include `which_key.add` to handle scenarios where other plugins are also named `which-key`
  if ok and which_key.add then
    which_key.add({
      -- { "<LocalLeader>?", group = "{{name}}" },
    })
  end
end

return M
